@media screen and (min-width:1200px) {
    body {
        font-family: Verdana;
    }

    img {
        margin: 0 auto;
        overflow: hidden;
        clear: both;
        padding: 0;
        display: block;
        height: 24.0625em;
        width: 100%;
    }

    .alert-info {
        display: none;
    }
    nav {
        margin-top: 30px;
    }
    li {
        display: inline;
        text-align: right;
        margin-left: 1em;
        margin-right: 1em;


    }

    .nav-links {
        float: right;
        position: relative;
        top: 40px;
    }

    ul {
        margin: 0;
        padding: 0;
        overflow: hidden;
        list-style-type: none;

    }

    h1 {
        position: relative;
        float: left;
        margin-bottom: 2em;

    }

    #main {
        float: left;
        width: 70%;
        margin: 2em 0;
    }

    .sub-section {
        font-style: italic;
        float: right;
        width: 25%;
        margin: 2em 0 0 0;

    }

    footer {
        clear: both;
        margin-bottom: 25px;
        top: 25em;
        float: left;
        position: relative;
        display: inline-block;
        width: 100%;



    }

    .fa {
        float: right;
        padding: 1em;
    }


}


/* Small devices (tablets, 768px and up) */
@media screen and (min-width:768px) {


}



/* Medium devices (desktops, 992px and up) */
@media screen and (min-width:992px) { img {


}/* ... */ }

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width:1200px) { img {


}/* ... */ }