@media screen and (min-width:320px) {
    body {
        font-family: Verdana;
    }

    img {

        max-width: 100%;
        padding: 0;
    }

    .alert-info {
        height: 30px;
        background-color: lightskyblue;
        text-align: center;
        color: black;
        border: 1px solid grey;
        padding-top: 10px;


    }

    .alert-info a:link {
        color: black;
        text-decoration: none;
    }
    .nav-links {
        margin: 10px 0;
        padding: 0;
        list-style-type: none;

    }

    li {
        margin-bottom: .5em;
        height: 30px;
        background-color: lightgray;
        text-align: center;
        padding-top: .5em;


    }

    h1 {
        text-align: center;
    }
}

    .sub-section {
        font-style: italic;
    }
    #social-media-links a:link {
         float: right;
     }




/* Small devices (tablets, 768px and up) */
@media screen and (min-width:768px) {


}



/* Medium devices (desktops, 992px and up) */
@media screen and (min-width:992px) { /* ... */ }

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width:1200px) { /* ... */ }